<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= pageTitle %> - Mobiverse Admin</title>
  <link rel="icon" href="<%= logo %>" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="/css/user/style.css">
  <link rel="stylesheet" href="/css/admin/admin-style.css" />
  <% if (typeof pageCss !== 'undefined' && pageCss) { %>
  <link rel="stylesheet" href="/css/admin/<%= pageCss %>.css" />
  <% } %>
</head>

<body>
  <div class="admin-layout">
    <%- include('../partials/admin/sidebar') %>

    <div class="main-content">
      <main class="content-area"><%- body %></main>

      <%- include('../partials/admin/footer') %>
    </div>
  </div>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/admin/admin.js"></script>

  //toast messages
  <script>
    const successMsg = sessionStorage.getItem("toastSuccess");
    const errorMsg = sessionStorage.getItem("toastError");

    if (successMsg) {
      Toastify({
        text: successMsg,
        duration: 4000,
        gravity: "bottom",
        position: "right",
        style: {
          background: "linear-gradient(to right, #00b09b, #96c93d)",
        },
        close: true,
      }).showToast();

      sessionStorage.removeItem("toastSuccess");
    }

    if (errorMsg) {
      Toastify({
        text: errorMsg,
        duration: 4000,
        gravity: "bottom",
        position: "right",
        style: {
          background: "#e74c3c",
        },
        close: true,
      }).showToast();

      sessionStorage.removeItem("toastError");
    }
  </script>

  <% if (typeof pageJs !== 'undefined' && pageJs) { %>
  <script src="/js/admin/<%= pageJs %>.js"></script>
  <% } %>
</body>

</html>