<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> - Mobiverse</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/user/user-style.css">
    <% if (typeof pageCss !== 'undefined' && pageCss) { %>
        <link rel="stylesheet" href="/css/user/<%= pageCss %>.css">
    <% } %>
</head>

<body>
    <%- include('../partials/user/navbar') %>
    <%- body %>
    <%- include('../partials/user/footer') %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/user/user.js"></script>
    <% if (typeof pageJs !== 'undefined' && pageJs) { %>
        <script src="/js/user/<%= pageJs %>.js"></script>
    <% } %>

</body>